<?xml version="1.0"?>
<configuration>
  <!--用户配置信息-->
  <appSettings>
    <!-- 冠佳老化项目名称 -->
    <add key="Aging_Project" value="CEmersonApp"/>
    <!--项目编号-->
    <add key="Aging_ProId" value="AUTO-GZ-QG170902-1"/>
    <!-- 治具最大槽位-->
    <add key="Aging_SlotMax" value="20"/>
    <!-- 线体编号-->
    <add key="Aging_LineNo" value="0"/>
    <!-- 线体名称-->
    <add key="Aging_LineName" value="L1"/>
    <!-- 冠佳WebService接口地址-->
    <add key="Aging_UlrWeb" value="http://192.168.3.200/Service.asmx"/>
    <!-- 老化快充模式:Normal,QC2_0,QC3_0,FCP,SCP,PD3_0,PE3_0,PE1_0,PE2_0,MTK1_0,MTK2_0 -->
    <add key="Aging_QCM_Type" value="Normal,QC2_0,QC3_0,FCP,SCP,PD3_0,PE3_0,PE1_0,PE2_0,MTK1_0,MTK2_0"/>
    <!--绑定测试流程设置-->
    <add key="Aging_LOADUP_FlowId" value="0"/>
    <add key="Aging_LOADUP_FlowName" value="LOADUP"/>
    <!--老化测试流程设置-->
    <add key="Aging_BI_FlowId" value="1"/>
    <add key="Aging_BI_FlowName" value="BURNIN"/>
    <!--下机流程设置-->
    <add key="Aging_UNLOAD_FlowId" value="2"/>
    <add key="Aging_UNLOAD_FlowName" value="UNLOAD"/>
    <!-- 客户MES接口名称-->
    <add key="Aging_DllFile" value="http://100.100.20.175/Service.asmx"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
